@model  serwer.Models.UsersViewModel

@{
    ViewBag.Title = "UsersList";
    Layout =  "~/Views/Shared/_Layout.cshtml";
}
<p class="text-info">@ViewBag.message</p>
<br />
<h2>Użytkownicy w systemie</h2>
<br />
<div class="container">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>Nazwa użytkownika</th>
                <th>Adres e-mail</th>
                <th>Edycja</th>
                <th>Usuwanie</th>
                <th>Hasło</th>
            </tr>
        </thead>
        <tbody>         
            @foreach (serwer.Models.ApplicationUser au in Model.AllUsers)
            {
                <tr>
                    <th>@au.UserName</th>
                    <th>@au.Email</th>
                    <th>@Html.ActionLink("Edytuj", "EditUserAdmin", "Account", new { userId = au.Id }, null)</th>
                    <th>@Html.ActionLink("Usuń konto", "RemoveUser", "Account", new { userId = au.Id }, null)</th>
                    <th>@Html.ActionLink("Zmień", "ResetUserPassword", "Account", new { userId = au.Id }, null)</th>
                </tr>
            }
        </tbody>
    </table>    
</div>

