
@model serwer.Models.ImagesDownloadDetails

@{
    ViewBag.Title = "ImagesView";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

@{
    <div class="container-fluid">
        <div class="row">
            <br />
            @Html.ActionLink("Ponownie ładuj obraz", "uploadFile", "Images", null, new { @class = "btn btn-primary btn-lg" })
        </div>
    </div>

    <br />

    <div class="container-fluid">
        <div class="row">
            @{
                if (ViewBag.Message != null)
                {
                    <div class="alert alert-success">
                        <p>@ViewBag.Message</p>
                    </div>
                }
            }
        </div>
    </div>

                foreach (string file in Model.items)
                {
                    <div class="container-fluid">
                        <div class="row">
                            @{
                                string imPath = "";
                                if (file.Equals(serwer.Config.ServerConfigurator.originalImageName + Model.originalImageExtension))
                                {
                                    <p>
                                        <h2>Obraz orginalny</h2>
                                        @*@Html.ActionLink("Pobierz", "Download", "Images", new { ImageName = "images.jpg" }) this syntax not working, so be cerreful*@
                                        @Html.ActionLink("Pobierz", "Download", "Images", routeValues: new { ImageName = @file.ToString() }, htmlAttributes: new { @class = "btn btn-success btn-lg" })
                                    </p>
                                    imPath = Url.Content("/Storage/" + User.Identity.Name + "/" + file) + "?noCache=" + DateTimeOffset.Now.ToUnixTimeMilliseconds();
                                }
                                else if (file.Equals(serwer.Config.ServerConfigurator.processedImageName + Model.processedImageExtension))
                                {
                                    <p>
                                        <h2>Obraz przetworzony</h2>
                                        @*@Html.ActionLink("Pobierz", "Download", "Images", new { ImageName = "images.jpg" }) this syntax not working, so be cerreful*@
                                        @Html.ActionLink("Pobierz", "Download", "Images", routeValues: new { ImageName = @file.ToString() }, htmlAttributes: new { @class = "btn btn-success btn-lg" })
                                    </p>
                                    imPath = Url.Content("/Storage/" + User.Identity.Name + "/" + file) + "?noCache=" + DateTimeOffset.Now.ToUnixTimeMilliseconds();
                                }
                                else
                                {
                                    // DateTimeOffset.Now.ToUnixTimeMilliseconds() is used to prevent caching images in browsers
                                    // this "imPath" - path to the personal original image
                                    imPath = Url.Content("/Storage/" + User.Identity.Name + "/" + file) + "?noCache=" + DateTimeOffset.Now.ToUnixTimeMilliseconds();
                                }
                                <img class="img-responsive col-sm-8" src="@imPath" />
                            }
                        </div>
                    </div>
                                }
}
